.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
  }
  .drawer {
    width: 385px;
    position: absolute;
    right: 0;
    height: 100vh;
    box-shadow: -10px 4px 24px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    animation: modal 0.5s;
  }
  @keyframes modal {
    0% {
      right: -385px;
    }
    100% {
      right: 0;
    }
  }

  .drawer > h2 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 0;
  }
  .items {
    height: 100%;
    /* border: 1px solid red; */
    overflow: auto;
  }
  .productCart {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    width: 325px;
    height: 119px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    gap: 12px;
    position: relative;
  }
  .product-img {
    width: 70px;
    height: 70px;
  }
  .product-title {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-bottom: 8px;
  }
  .info {
    position: relative;
    left: 10px;
    width: 150px;
  }
  .removeBtn {
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
  }
  .cartBtn{
    position:relative;
    bottom: -40px;
  }
  .sumInfo > ul > li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    div {
      flex: 1;
      border: 1px dashed #dfdfdf;
      margin: 0 7px;
    }
  }
  .sumInfo > ul {
    margin-bottom: 24px;
  }
  .modalBtn {
    border-radius: 18px;
    width: 325px;
    height: 55px;
    background: #9dd458;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  .errorCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 285px;
    margin-top: 300px;
    position: fixed;
  }
  .errorCart > img {
    margin-bottom: 23px;
  }
  .errorCart > h3 {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
  }
  .errorCart > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
    opacity: 0.4;
    margin-bottom: 40px;
  }
  .button {
    border-radius: 18px;
    width: 245px;
    height: 55px;
    background: #9dd458;
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }